<h1>Listing badges</h1>

<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Meta Data</th>    
  </tr>

<% @badges.each do |badge| %>
  <tr>
    <td><%= badge.show_image("40x40#").html_safe unless badge.image.nil? %></td>    
    <td><%= badge.name %></td>
    <td>...</td>
    <td><%= link_to 'Details', badge %></td>
    <td><%= link_to 'Share', badge, :share  %></td>
    <% if current_user.admin == 1 %>
    <td><%= link_to 'Edit', edit_badge_path(badge) %></td>
    <td><%= link_to 'Destroy', badge, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Badge', new_badge_path %>
