<p id="notice"><%= notice %></p>
<h1>Share This Badge</h1>
<p>
  <b>Name:</b>
  <%= @badge.name %>
</p>

<% unless @badge.image.nil? %>
  <p>
    <b>Image:</b>
    <%=@badge.show_image("320x250#").html_safe %>    
  </p>
<% end %>




<%= link_to 'Edit', edit_badge_path(@badge) %> |
<%= link_to 'Back', badges_path %>
