<div>
  <h1>Users</h1>

  <table>
    <tr>
      <th>Login</th>
      <th>Email</th>    
      <th>Login Count</th>    
      <th>Actions</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%=user.login%></td> 
        <td><%=user.email%></td>
        <td><%=user.login_count %> </td>
        <td>
          <%=link_to("Show",{:action => 'show',:id => user.id}, :class => 'action show') %>        
          <%=link_to("Edit","#", :class => 'action edit') %>        
          <%=link_to("Delete","#", :class => 'action delete') %>        
        </td>
      </tr>
    <% end %>
  </table>


</div> 