<% if current_user %>
<h1>Hello User: <%=current_user.login%></h1>
  <%= link_to "Edit Profile", edit_user_path(current_user.id)%>
  <%= link_to "Logout", :logout%>
<% else %>
<h1>Please login:</h1>
  <%= link_to "Register", new_user_path%> |
  <%= link_to "Login", :login %>
<% end %>